<th:block th:fragment xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
          xmlns:c="http://www.w3.org/1999/XSL/Transform">
    <nav class="navbar navbar-expand-lg re-background">
        <a class="navbar-brand text-white" th:href="@{/}">Resident Evil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                    <li sec:authorize="isAnonymous()" >
                        <a class="nav-link text-white" th:href="@{/register}">Register</a>
                    </li >
                    <li sec:authorize="isAnonymous()">
                        <a class="nav-link text-white" th:href="@{/login}">Login </a>
                    </li>



                    <li class="nav-item active text-white" >
                        <a class="nav-link text-white" th:href="@{/}">Home </a>
                    </li>
                <th:block th:if="${user!=null}">
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Viruses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item"th:href="@{/viruses/show}">Show</a>
                            <a class="dropdown-item" th:href="@{/viruses/add}">Add</a>
                        </div>
                    </li>
                </th:block>

            </ul>
        </div>
    </nav>
</th:block>