<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>

</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="fragments/navbar"></th:block>
    </header>
</div>
<main>
    <div class="container">
        <div>
            <h2>Change User Role</h2>
            <form th:action="@{/users/edit/{id}(id=${user.id})}" th:method="post" th:object="${editModel}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <th:block th:field="*{role}" id="role">
                            <div  class="radio" th:each="role: ${roles}">
                                <label><input type="radio" th:value="${role}" th:name="role" th:text="${role}"></label>
                            </div>
                        </th:block>

                    </td>

                </tr>
                </tbody>
            </table>
                <button class="btn re-background">EDIT</button>
            </form>
        </div>

    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</main>
</body>
</html>