<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"></th:block>

</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="fragments/navbar"></th:block>
    </header>
</div>
<main>
    <div class="container">
        <div>
            <h2>Make Your Choice</h2>
        </div>
        <p>
            <a class="btn btn-primary re-background" data-toggle="collapse" href="#virusesTable" role="button" aria-expanded="true" aria-controls="collapseExample">
                Show All Viruses
            </a>
            <button class="btn btn-primary re-background" type="button" data-toggle="collapse" data-target="#capitalTable" aria-expanded="true" aria-controls="collapseExample">
               Show All Capitals
            </button>
        </p>
        <div class="collapse" id="virusesTable">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Magnitude</th>
                        <th scope="col">Released on</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="virus, virusStat: ${viruses}">
                        <th scope="row" th:text="${virusStat.index+1}"></th>
                        <td th:text="${virus.name}"></td>
                        <td th:text="${virus.magnitude.name()}"></td>
                        <td th:text="${virus.releasedOn}"></td>
                        <td><a class="btn re-background"  th:href="@{/edit/{id}(id=${virus.id})}" role="button">Edit</a></td>
                        <td><a class="btn re-background"  th:href="@{/delete/{id}(id=${virus.id})}" role="button">Delete</a></td>
                    </tr>
                    </tbody>
                </table>

        </div>

        <div class="collapse" id="capitalTable">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="capital, capitalStat: ${capitals}">
                    <th scope="row" th:text="${capitalStat.index+1}"></th>
                    <td th:text="${capital.name}"></td>
                    <td th:text="${capital.latitude}"></td>
                    <td th:text="${capital.longitude}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</main>
</body>
</html>